{%- set users_pillar = pillar.users | default({}) %}

{% set users = salt['grains.filter_by']({
  'Ubuntu': {
     'shell': pillar.users.shell | default('/bin/bash'),
     'groups': pillar.users.groups | default(['wheel', 'users'])

  },
},
  grain='os',
  merge=salt['pillar.get']('users:{{ username }}'))
%}